@model IEnumerable<Forum.Models.ViewModel.Article.ArticleListVM>

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Create New", "AddPosts")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            CreateTime
        </th>
        <th>
            Watch
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/Article/Post?id=@item.ArticleId">
                @item.Title
            </a>
        </td>
        <td>
            @item.Author
        </td>
        <td>
            @item.CreateTime
        </td>
        <td>
            @item.Watch
        </td>
        <td>
           @Html.ActionLink("刪除", "DeletePost", new { id = item.ArticleId }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
