@model Forum.Models.ViewModel.Article.ArticleVM

@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Watch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Watch)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditPost", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Posts")
</p>
<br />

<div id="MessageList">
    @Html.Action("CommentList",  new { Id = Model.ArticleId })

    @using(Html.BeginForm("AddComment", "Article", new { id = Model.ArticleId }, FormMethod.Post)) {
        @Html.TextBox("Content")
        <input type="submit" value="留言" class="btn btn-default" />
    }
</div>
